* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Raleway";
    background-color: #bdc3c7;
    overflow-x: hidden;
}
.wrapper {
    margin: 0 auto;
    max-width: 960px;
    overflow-x: hidden;
}

.heading {
    text-align: left;
    color: #d35400;
    font-weight: 600;
    margin-left: 5px;
}
.big-margin-top{
  margin-top: 100px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 40px;
}
.list-item {
    display: flex;
    padding: .5em;
    width: 100%;
    @media all and (min-width: 40em) {
        width: 50%;
    }
    @media all and (min-width: 60em) {
        width: 33.33%;
    }
}

.list-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    }
    overflow: hidden;
}

.list-content {
    position: relative;
    p {
        flex: 1 0 auto;
    }
}

.imgholder {
    position: relative;
    height: 250px;
    overflow: hidden;
    width: 100%;
}

.list-content__second {
    background-color: white;
    position: absolute;
    top: -322px;
    padding: 5px 10px 15px 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    transition: all .3s ease;
    &.active{
      top: 0;
    }
}


.img-card {
    width: 100%;
}
.card-user {
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    color: #d35400;
}
.text-user {
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 300;
}

.about-card {
    text-align: right;
    padding: 0 10px 0 10px;
    color: #d35400;
    font-weight: 800;
    text-transform: uppercase;
}

.inner-text {
    color: #d35400;
    font-weight: 600;
}

.close-info {
    color: #d35400;
}

.key-value {
    display: block;
    padding: 5px 5px;
}
.info-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px 0 0;
}

.info-about > .key-value {
    flex: 1 45%;
}

.bold {
    font-size: 15px;
    font-weight: 700;
    color: #d35400;
    text-transform: capitalize;
    margin-top: 3px;
    margin-bottom: 0;
}

.key {
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0;
}

.info {
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.info-close {
    position: relative;
    text-align: right;
    &:hover {
        cursor: pointer;
    }
}
.show-value {
    position: absolute;
    top: 5px;
    right: 7px;
    color: #d35400;
    font-size: 24px;
    z-index: 666;
    transition: transform .3s ease;
    &:hover {
        cursor: pointer;
    }
    &.active{
      transform: rotate(180deg);
    }
}
.spinner {
    position: absolute;
    width: 100%;
    //text-align: center;
}
.fa-spin {
    color: #d35400;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )
    url("../../dist/images/loader.gif")
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.sidebar {
    background: white;
    width: 200px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    top: 250px;
    margin-left: -5px;
}
.sidebar li {
    list-style-type: none;
    position: relative;
    overflow: hidden;
}
.sidebar li a {
    display: block;
    color: #d35400;
    font-weight: 600;
    padding: 15px 15px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    position: relative;
}


.ink {
    display: block;
    position: absolute;
    background: rgba(211, 84, 0, .8);
    border-radius: 100%;
    transform: scale(0);
    overflow: hidden;
}

.ink.animate {
    animation: ripple .65s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}

.fixed {
    position: fixed;
}

hr {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.navigation {
    background-color: white;
    //margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    // @media screen and (max-width: 740px) {
    //     flex-direction: column;
    // }
}
.navigation-list {
    height: 80px;
    line-height: 80px;
    @media screen and (max-width: 740px) {
        height: 100%;
        line-height: normal;
    }

    li {
        list-style-type: none;
        display: inline-block;
        padding: 0 20px;
        @media screen and (max-width: 740px) {
            text-align: center;
            padding: 10px 20px;
        }
        a {
            font-size: 18px;
            font-weight: 500;
            color: #d35400;
            @media screen and (max-width: 740px) {
                font-size: 16px;
            }
            &.active{
              font-size: 22px;
              font-weight: 700;
            }
        }
    }
}

.navigation-list--item > a {

    color: #d35400;
    text-decoration: none;
}
.navigation-list--item > a:hover {
    color: #d35400;
}

.navigation-list--item > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d35400;
    visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all .3s ease-in-out 0s;
            transition: all .3s ease-in-out 0s;
}
.navigation-list--item > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    opacity: .9;
}
